<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
          </script>
    </head>
    <body>
        <div id="app"></div>
        <!-- Include Bootstrap JS -->
        <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>

    <script type="text/x-template" id="app-template">
        <div>
            <toggle-btn label='Power' param='display_on'/>
            <input-range label='Brightness' param='brightness' :min="0" :max="100" :step="1" />
        </div>
        <div id="mode-options">
            <p>Mode options</p>
            <radio-group :options="screenParams.apps" groupName="current_app" />
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-snakes" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Snakes</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-images" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Pixelart</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-snakes" role="tabpanel" aria-labelledby="nav-home-tab">
                <input-field label='Nr of snakes' param='nr_snakes' />
                <input-field label='Food count' param='food' />
                <input-field label='Snakes FPS' param='snakes_fps' />
                <input-field label='Food decay' param='food_decay' />
                <input-field label='Calculation TimeOut' param='calc_timeout' />
                <dropdown-list param='snake_map' :options="screenParams.snake_maps" />
                <cmd-btn label='Restart snakes' cmd='restart_snakes' />
            </div>
            <div class="tab-pane fade" id="nav-images" role="tabpanel" aria-labelledby="nav-profile-tab">
                <input-field label='Display duration sec' param='display_dur' />
                <div id="img-container">
                    <image-btn v-for="img_name of screenParams.images" :img_name="img_name" />
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="input-field-template">
        <div>
            <label :for="'input-' + param "> {{ label }}
                <input
                @change.prevent=onChange
                type="text"
                class="input-field"
                :id="'input-' + param"
                v-model='textValue'>
            </label>
        </div>
    </script>

    <script type="text/x-template" id="input-range-template">
        <label
            :for="'range-' + param"
            class="form-label">{{label}}</label>
        <input
            type="range"
            class="form-range custom-responsive-range"
            :min="min"
            :max="max"
            :step="step"
            :id="'range-' + param"
            v-model='rangeValue'
            @change.prevent=onChange>
    </script>

    <script type="text/x-template" id="checkbox-template">
        <div>
            <label for="display-on"> {{ label }}
                <input
                    type="checkbox"
                    id="display-on"
                    @change.prevent="onChange"
                    :checked="checked">
            </label>
        </div>
    </script>

    <script type="text/x-template" id="image-template">
        <div>
            <img
            :src="image_path"
            class='img-btn'
            @click.prevent="onClick"
            alt="">
        </div>
    </script>

    <script type="text/x-template" id="radio-btn-template">
        <div>
            <input
                type="radio"
                class="btn-check"
                :name="group"
                :id="'radio-' + param "
                autocomplete="off"
                @change.prevent="onChange"
                :checked="checked">
            <label
                class="btn btn-outline-light"
                :for="'radio-' + param"> {{ label }}
            </label>
        </div>
    </script>

    <script type="text/x-template" id="radio-group-template">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <radio-btn v-for="mode of options" :label="mode" :param="mode" :group="groupName" />
        </div>
    </script>

    <script type="text/x-template" id="cmd-btn-template">
        <div>
            <button
            @click.prevent="onClick"
            class='btn btn-light'>
                {{ label }}
            </button>
        </div>
    </script>

    <script type="text/x-template" id="toggle-btn-template">
        <div>
            <button
            type="button"
            class="btn"
            :class="{'btn-light': toggled, 'btn-secondary': !toggled}"
            @click.prevent="toggle"
            autocomplete="off"> {{ label }} </button>
        </div>
    </script>

    <script type="text/x-template" id="dropdown-template">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
              {{selectedItem}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                <li><a class="dropdown-item" @click.prevent="onClick">none</a></li>
                <li v-for="item of options"><a class="dropdown-item" @click.prevent="onClick">{{item}}</a></li>
            </ul>
          </div>
    </script>

    <script src="/static/js/main.js" type="module"></script>
</html>