<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="importmap">
            {
              "imports": {
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
          </script>
    </head>
    <body>
        <div id="app"></div>
    </body>

    <script type="text/x-template" id="app-template">
        <div>
            <custom-checkbox label='Display on' param='display_on' />
            <input-field label='Display duration sec' param='display_dur' />
            <input-field label='Brightness' param='brightness' />
            <custom-checkbox label='Run snakes' param='run_snakes' />
            <input-field label='Nr of snakes' param='nr_snakes' />
            <input-field label='Food count' param='food' />
            <input-field label='Snakes FPS' param='snakes_fps' />
            <cmd-btn label='Restart snakes' cmd='restart_snakes' />
            <div id="mode-options">
                <p>Mode options</p>
                <radio-btn v-for="mode of screenParams.display_modes" :label="mode" :param="mode" group="display_mode" />
            </div>
            <div id="img-container">
                <image-btn v-for="img_name of screenParams.images" :img_name="img_name" />
            </div>
        </div>
    </script>

    <script type="text/x-template" id="input-field">
        <div>
            <label for="input-{{ param }}"> {{ label }}
                <input
                @change.prevent=onChange
                type="text"
                class="input-field"
                id="input-{{ param }}"
                v-model='textValue'>
            </label>
        </div>
    </script>

    <script type="text/x-template" id="checkbox-template">
        <div>
            <label for="display-on"> {{ label }}
                <input
                    type="checkbox"
                    id="display-on"
                    @change.prevent="onChange"
                    :checked="checked">
            </label>
        </div>
    </script>

    <script type="text/x-template" id="image-template">
        <div>
            <img
            :src="image_path"
            class='img-btn'
            @click.prevent="onClick"
            alt="">
        </div>
    </script>

    <script type="text/x-template" id="radio-btn-template">
        <div>
            <label for="radio-{{ param }}"> {{ label }}
                <input
                type="radio"
                name="{{ group }}"
                id="radio-{{ param }}"
                @change.prevent="onChange"
                :checked="checked">
            </label>
        </div>
    </script>

    <script type="text/x-template" id="cmd-btn-template">
        <div>
            <button
            @click.prevent="onClick"
            class='cmd-btn'>
                {{ label }}
            </button>
        </div>
    </script>

    <script src="/static/js/main.js" type="module"></script>
</html>