[Unit]
Description=webserver for the led matrix
After=network.target
PartOf=led-display.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/led-display/webserver
ExecStart=./startScript.sh

[Install]
WantedBy=multi-user.target