[Unit]
Description=webserver for the led matrix
After=network.target
PartOf=led-display.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/matrix/projects/led-display/webserver
ExecStart=/home/matrix/projects/led-display/webserver/startScript.sh

[Install]
WantedBy=multi-user.target
