[Unit]
Description=Driver for the led matrix
After=network.target
PartOf=display-project.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/led-display/driver
ExecStart=/usr/bin/env python3 driver.py -i ./images

[Install]
WantedBy=multi-user.target