body{
    margin: 0;
    padding: 0;
    background-color: #242222 !important;
    max-height: 100%;
    max-width: 100%;
    color: beige;
}


.img-btn{
    height: 200px;
    width: 200px;
}

#img-container{
    display: grid;
    image-rendering: pixelated;
}