body{
    margin: 0;
    padding: 0;
    background-color: #242222 !important;
    max-height: 100%;
    max-width: 100%;
    color: beige;
}


.img-btn{
    height: 200px;
    width: 200px;
}

#img-container{
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    image-rendering: pixelated;
    justify-self: center;
}